.input {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

label {
    font-size: 25px;
}

input {
    width: 75%;
    height: 60px;
    font-size: 30px;
    margin: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
}

.bag {
    display: flex;
}



input:focus {
    border-bottom: 2px solid black;
}

.all {
    width: 700px;
}