*{
    margin: 0;
    padding: 0;
}

.input {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

label {
    font-size: 25px;
}

input {
    width: 75%;
    height: 30px;
    font-size: 25px;
    margin: 10px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
}

.bag {
    display: flex;
}



input:focus {
    border-bottom: 2px solid black;
}
body,.all{
    display: flex;
    align-items: center;
    justify-content: center;
}