body {
    margin: 0px;
    background-color: lightgoldenrodyellow;
}

ul {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-radius: 0;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: lightgoldenrodyellow;
    overflow: hidden;
    border-bottom: 2px solid #d5af73;

}

li {

    display: inline-block;
}

nav {
    text-align: center;

}

li a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: gray;
    transition: all 0.5s;



}

li a:hover {
    border-radius: 10px;
    color: lightgoldenrodyellow;
    background-color: rgb(175, 160, 16);

}

p {
    font-size: 25px;
}

h2 {
    color: blueviolet;
    text-align: center;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(175, 160, 16);
}

h3 {
    font-size: 25px;
    text-align: center;
}



@media screen and (max-width:700px) {
    h3 {
        font-size: 20px;
    }

}

@media screen and (max-width:500px) {
    h3 {
        font-size: 18px;
    }

    .content {
        position: relative;
        top: 40px;
    }
}