body{
    margin: 0px;
    background-color: lightgoldenrodyellow;
}
ul{
     position: fixed; 
     top:0px;
     left:0px;
     right:0px;
     border-radius: 0;
     z-index: 1;
     margin: 0px;
    list-style: none;
    background-color: lightgoldenrodyellow;
    overflow: hidden;
}
li{

    display: inline-block;
}
nav{
    position: sticky;
    text-align: center;
}
li a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    color:gray;


}
li a:hover{
    color:lightgoldenrodyellow;
    background-color:rgb(175, 160, 16);

}
p{
    font-size: 25px;
}
h2{
    color:blueviolet ;
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(175, 160, 16);
}
h3{
    font-size: 25px;
    text-align:center ;
}