.from input {
    width: 64px;
    padding: 0px;
    border: none;
    border-bottom: solid 1px #787878;
    background-color: transparent;
    outline: none;
}

.add input {
    width: 64px;
    padding: 0px;
    border: none;
    color: rgb(182, 117, 182);
    border-bottom: solid 1px #787878;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.5s;
}

.add input:hover {
    background-color: rgb(182, 117, 182);
    color: #fff;


}

.from input:focus {
    box-shadow: 0 0 3px blueviolet;
}

.from,
.add {
    display: inline-block;
    width: 64px;


}

.from select {
    width: 64px;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px #fff;
    outline: none;
}

p {
    display: flex;
    justify-content: center;
    color: #787878;
}

html {
    background-color: bisque;
}

.content {
    display: block;
    background-color: #fff;
    width: 500px;
    height: 200px;

}

.text input {
    display: inline-flex;
    align-content: end;
    justify-content: start;
    border: none;
    font-size: 18px;
    color: #787878;
    outline: none;
    border-bottom: solid 1px #787878;
    width: 70px;

}

.text p {
    display: inline-flex;
    width: 64px;
    padding: 0px;
    border: none;

    background-color: transparent;
    outline: none;
}

.content h1 {
    display: block;
    background-color: #EDEDED;
    border-bottom: solid 2px #787878;
    font-size: 25px;
}

header h1 {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #787878;
}

.dic p {
    display: block;
    margin: 0;
}