body {
   background-color: lightgoldenrodyellow;
}

ul {
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   border-radius: 0;
   z-index: 1;
   margin: 0px;
   list-style: none;
   background-color: lightgoldenrodyellow;
   overflow: hidden;
   box-shadow: 0 0 6px 0 #333;
}

li {

   display: inline-block;
}

nav {
   text-align: center;
}

li a {
   position: relative;
   text-decoration: none;
   font-size: 20px;
   display: block;
   color: gray;
   padding: 0 0 0 5px;
   transition: all 0.5s;


}

li a:hover {
   color: lightgoldenrodyellow;
   background-color: rgb(175, 160, 16);
   border-radius: 10px;
}

li a:focus {
   color: lightgoldenrodyellow;
   background-color: rgb(175, 160, 16);
   border-radius: 10px;

}

p {
   position: relative;

   font-size: 25px;
}

h2 {
   color: blueviolet;
   text-align: center;
   font-size: 30px;
}

h1 {
   text-align: center;
   font-size: 40px;
   color: rgb(175, 160, 16);
}

h3 {
   color: blueviolet;
   font-size: 30px;
   text-align: center;
}

@media screen and (max-width:1400px) {
   .content {
      position: relative;
      top: 40px;


   }

}



@media screen and (max-width:770px) {
   .content {
      position: relative;
      top: 80px;
   }
}

@media screen and (max-width:530px) {
   .content {
      position: relative;
      top: 140px;
   }

   h1 {
      font-size: 35px;
   }

   p {
      font-size: 23px;
   }

}