body {
    background-color: #f9f9f9;
    background-image: url('path/to/background-image.jpg');
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    display: block;
    text-align: center;

    font-size: 42px;
    color: #333;

    margin: 60px 0 40px;
}

hr {
    border: none;
    display: flex;
    border-top: 3px solid #555;
    width: 50%;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 80px;
    padding: 16px 16px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

a:hover {
    background-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

ul {
    padding: 0px;
}