* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #032739;

}

.box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .ring:nth-child(1) {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px transparent;
    border-top: 4px solid #24ecff;
    animation: animate 2s linear infinite;
}

.box .ring:nth-child(2) {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px transparent;
    border-top: 4px solid #1879af;
    animation: animate2 2s linear infinite;
}

.box .ring:nth-child(3) {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px transparent;
    border-top: 4px solid #f1f5f9;
    animation: animate3 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(60deg);
    }

    100% {
        transform: rotate(420deg);
    }
}

@keyframes animate3 {
    0% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(480deg);
    }
}

.box .ring:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 48px;
    right: -4px;
    width: 15px;
    height: 15px;
    background: #24ecff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #24ecff33,
        0 0 0 10px #24ecff22,
        0 0 0 20px #24ecff11,
        0 0 20px #24ecff,
        0 0 50px #24ecff;
}

.box .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 48px;
    right: -4px;
    width: 15px;
    height: 15px;
    background: #f1f5f9;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #f1f5f933,
        0 0 0 10px #f1f5f922,
        0 0 0 20px #f1f5f911,
        0 0 20px #f1f5f9,
        0 0 50px #f1f5f9;
}

.box .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 48px;
    right: -4px;
    width: 15px;
    height: 15px;
    background: #1879af;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #1879af33,
        0 0 0 10px #1879af22,
        0 0 0 20px #1879af11,
        0 0 20px #1879af,
        0 0 50px #1879af;
}

.box .ring:nth-child(1) {
    position: absolute;
    top: -66.66px
}

.box p {
    position: absolute;
    color: #f1f5f9;
    font-family: consolas;
    bottom: -80px;
    letter-spacing: 0.15em;
    font-size: 40px;
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ul ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #604e96;
    border-bottom: 2px solid #f1f5f9;
    overflow: hidden;
}

.ul li {
    display: inline-block;
}

/* Style the anchor elements inside the list items */
.ul a {
    text-decoration: none;
    color: #f1f5f9;
    font-size: 20px;
    padding: 5px 5px;
    font-weight: bold;
    transition: all 0.5s;
}

.ul a:hover {
    background-color: #f1f5f9;
    color: #604e96;
    border-radius: 15px;
}

.logout {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
}

.logout a {
    text-decoration: none;
    color: #f1f5f9;
    font-weight: bold;
    margin: 0;
    padding: 2px;

}

.logout a:hover {
    color: #111;
}

.name {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
}

.name p {
    text-decoration: none;
    color: #f1f5f9;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 2px;
}