@font-face {
    font-family: "EduNSWACTFoundation";
    src: url(../animation/font/EduNSWACTFoundation-VariableFont_wght.ttf);
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0d1342;

}

.sign {
    position: absolute;
    left: 50%;
    width: 400px;
    height: 400px;
    padding: 40px;
    transform: translate(-50%, 50%);
    background-color: #745e9b;
    box-sizing: border-box;
    box-shadow: 0 10px 35px #f2bdc1;
    border-radius: 10px;

}

.sign h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #f2bdc1;
    font-family: "EduNSWACTFoundation";
    text-align: center;
}

.user {
    position: relative;
}

.user input {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.user input:focus {
    border-bottom-color: #f2bdc1;
}

.user label {
    position: absolute;
    left: 20px;
    top: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #f2bdc1;
    pointer-events: 0.5em;
    transition: all 0.5s;
}

.sign input:focus~label,
.sign input:valid~label {

    top: -20%;
    left: 0;
    color: #f2bdc1;
    font-size: 13px;
}

.sign form button {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    font-family: "EduNSWACTFoundation";
    text-decoration: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.5s;
    letter-spacing: 4px;
    color: #f2bdc1;
    background-color: #745e9b;
    border-radius: 5px;

}

.sign form button:hover {
    color: #745e9b;
    background-color: #f2bdc1;
    box-shadow: 0 0 15px #f2bdc1;
}

.sign button span {
    position: absolute;
    display: block;
}

.sign button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f2bdc1);
    animation: anim1 1s linear infinite;
}

@keyframes anim1 {
    0% {
        left: -100%
    }

    50%,
    100% {
        left: 100%;
    }

}

.sign button span:nth-child(2) {
    top: - 100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f2bdc1);
    animation: anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes anim2 {
    0% {
        top: -100%
    }

    50%,
    100% {
        top: 100%;
    }

}

.sign button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(2700deg, transparent, #f2bdc1);
    animation: anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes anim3 {
    0% {
        right: -100%
    }

    50%,
    100% {
        right: 100%;
    }

}

.sign button span:nth-child(4) {
    bottom: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f2bdc1);
    animation: anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }

}

.error {
    display: flex;
    justify-content: center;
    color: #ff3333;
    border: 1px solid #ff3333;


}